th {
	padding-top: .5em;
	padding-bottom: .5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333;
	border: 1px solid slategrey;
}

td {
	padding-top: .5em;
	padding-bottom: .5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333;
	border: 1px solid slategrey;
}
select, option{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
	line-height: 20px;
	color: #333;
	border: 1px solid slategrey;
	background-color: #fffff0
}
table, td, th {
	border-collapse: collapse;
	border: 1px solid #000;
}