  <div  ng-style="myStyle" ng-controller="LoginCtrl">
  <div ng-style="center"><img src="images/EyLogo_VID.gif" alt="EY Logo"></div>
   
    <form name="form" novalidate ng-submit="form.$valid && login()">
        <div class="form-group" ng-class={true: 'error'}[submitted && form.userEmail.$invalid]">
            <label for="userEmail">User Id</label>
            <input ng-model="userEmail" type="text" name="userEmail" id="userEmail" class="form-control" placeholder="Email Address" required/>
            <span class="help-inline" ng-show="submitted && form.userEmail.$error.required">Email Address is required.</span>
        </div>
        <div class="form-group" ng-class={true: 'error'}[submitted && form.password.$invalid]">
            <label for="password">Password</label>
            <input ng-model="password" type="password" name="password" id="password" class="form-control" placeholder="Password" required/>
            <span class="help-inline" ng-show="submitted && form.password.$error.required">Password is required.</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" ng-click="submitted=true">Login</button>
            <a href="#!/forgotPassword" class="btn btn-link">Forgot Password</a>
        </div>
    </form
</div>

