

<div  ng-style="myStyle" ng-controller="welcomeCtrl">
	  <center><div ng-style="center"><img src="images/EyLogo_VID.gif" alt="EY Logo"></div></center>
<h2 align="center">Welcome <span >{{user}}</span></h2>	
<center>
<!-- <button type="submit" class="btn btn-primary"  ng-click="addNew()">Add New Client</button>
<button type="submit" class="btn btn-primary"  ng-click="search()">Search existing</button> -->

<div class="tab">
<button type="submit" class="tablinks"  ng-click="addNew()">Add New Client</button>
<button type="submit" class="tablinks"  ng-click="search()">Search existing</button>
</div>
</center>
</div>